<!-- HEADER WITH MY NAV and logo image-->

<header>
  <div id="social">
    <a href="https://www.instagram.com/sarahfshaw/?hl=en">
      <img src="{{ site.baseurl }}static/images/insta1.png" alt="Instagram">
    </a>

    <a href="https://www.facebook.com/Sarah-went-Solo-441463083257143/?modal=admin_todo_tour">
      <img src="{{ site.baseurl }}static/images/fb1.png" alt="facebook">
    </a>

    <a href="https://www.pinterest.com/sarahwentsolo/">
      <img src="{{ site.baseurl }}static/images/pin1.png"alt="pinterest">
    </a>

    <a href="mailto:sarahwentsolo@gmail.com">
      <img src="{{ site.baseurl }}static/images/email1.png"alt="EMAIL">
    </a>
  </div>


  <div class="logo">
    <img src="{{ site.baseurl }}static/images/artboard1.png"alt="logo">
  </div>

  <div class="navigation">
    <nav>
      <a href="{{ site.baseurl }}">Home</a>

      <a href="{{ site.baseurl }}about">About Me</a>

      <a href="#">Travel</a>

      <a href="#">Itineraries</a>

      <a href="file:///Users/sarahshaw/Desktop/FEUD%20FOLDER/github/sarahwentsolo/tipsandtricks.html">Tips & Tricks</a>

      <a href="file:///Users/sarahshaw/Desktop/FEUD%20FOLDER/github/sarahwentsolo/gear.html">Gear</a>
    </nav>
  </div>
</header>
