<footer>
  <div class="footer" >
    <div class="logofooter logo">
      <img src="{{ site.baseurl }}static/images/whiteartboard1.png"alt="logo">
    </div>

    <div id="socialfooter">
      <a href="https://www.instagram.com/sarahfshaw/?hl=en">
        <img src="{{ site.baseurl }}static/images/insta1.png" alt="Instagram">
      </a>

      <a href="https://www.facebook.com/Sarah-went-Solo-441463083257143/?modal=admin_todo_tour">
        <img src="{{ site.baseurl }}static/images/fb1.png" alt="facebook">
      </a>

      <a href="https://www.pinterest.com/sarahwentsolo/">
        <img src="{{ site.baseurl }}static/images/pin1.png"alt="pinterest">
      </a>

      <a href="mailto:sarahwentsolo@gmail.com">
        <img src="{{ site.baseurl }}static/images/email1.png"alt="EMAIL">
      </a>
    </div>
  </div>
</footer>
