<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="1-sarah shaw">
    <title>SaraWentSolo | Home </title>

    <!-- SOME MORE META TAGS-->
    <meta name="keywords" content="HTML, CSS, blogpost">
    <meta name="author" content="sarah shaw: sarah went solo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
 </html>
